﻿
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Modules/CandidatosModule.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
}

<div ng-app="Candidatos">
    <form name="frmCandidatos" ng-controller="CandidatosController as candidatosCtrl" ng-submit="frmCandidatos.$valid && candidatosCtrl.adicionarCandidato()" novalidate>
        <h4>Cadastre-se.</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtNome">Nome</label>
            <div class="col-md-10">
                <input class="form-control" id="txtNome" name="txtNome" type="text" ng-model="candidatosCtrl.candidato.Nome" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtEndereco">Endereço</label>
            <div class="col-md-10">
                <input class="form-control" id="txtEndereco" name="txtEndereco" type="text" ng-model="candidatosCtrl.candidato.Endereco.Logradouro" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtNumero">Número</label>
            <div class="col-md-10">
                <input class="form-control" id="txtNumero" name="txtNumero" type="number" ng-model="candidatosCtrl.candidato.Endereco.Numero" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtComplemento">Complemento</label>
            <div class="col-md-10">
                <input class="form-control" id="txtComplemento" name="txtComplemento" type="text" ng-model="candidatosCtrl.candidato.Endereco.Complemento" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCep">CEP</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCep" name="txtCep" type="text" ng-model="candidatosCtrl.candidato.Endereco.CEP" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtBairro">Bairro</label>
            <div class="col-md-10">
                <input class="form-control" id="txtBairro" name="txtBairro" type="text" ng-model="candidatosCtrl.candidato.Endereco.Bairro" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCidade">Cidade</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCidade" name="txtCidade" type="text" ng-model="candidatosCtrl.candidato.Endereco.Cidade" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Estado</label>
            <div>
                <select ng-options="item.Id as item.UF for item in candidatosCtrl.estados" ng-model="candidatosCtrl.candidato.Endereco.UF">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtDataNascimento">Data de nascimento</label>
            <div class="col-md-10">
                <input class="form-control" id="txtDataNascimento" name="txtDataNascimento" type="text" ng-model="candidatosCtrl.candidato.DOB" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtLocalNascimento">Local de nascimento</label>
            <div class="col-md-10">
                <input class="form-control" id="txtLocalNascimento" name="txtLocalNascimento" type="text" ng-model="candidatosCtrl.candidato.POB" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Estado de nascimento</label>
            <div>
                <select ng-options="item.Id as item.UF for item in candidatosCtrl.estados" ng-model="candidatosCtrl.candidato.UFB">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtEstadoCivil">Estado civil</label>
            <div class="col-md-10">
                <input class="form-control" id="txtEstadoCivil" name="txtEstadoCivil" type="text" ng-model="candidatosCtrl.candidato.EstadoCivil" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtRaca">Raça</label>
            <div class="col-md-10">
                <input class="form-control" id="txtRaca" name="txtRaca" type="text" ng-model="candidatosCtrl.candidato.Raca" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtDeficienteFisico">Deficiente físico?</label>
            <div>
                <input name="deficientefisico" type="radio" value="1" ng-model="candidatosCtrl.candidato.DeficienteFisico" />Sim
                <input name="deficientefisico" type="radio" value="0" ng-model="candidatosCtrl.candidato.DeficienteFisico" />Não
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtEmail">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="txtEmail" name="txtEmail" type="email" ng-model="candidatosCtrl.candidato.Email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Grau de instrução</label>
            <div>
                <select ng-options="item.Descricao for item in candidatosCtrl.GrausInstrucao" ng-model="candidatosCtrl.candidato.GrauInstrucao">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtSexo">Sexo</label>
            <div class="col-md-10">
                <input class="form-control" id="txtSexo" name="txtSexo" type="text" ng-model="candidatosCtrl.candidato.Sexo" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtNomePai">Nome do Pai</label>
            <div class="col-md-10">
                <input class="form-control" id="txtNomePai" name="txtNomePai" type="text" ng-model="candidatosCtrl.candidato.Pai" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtNomeMae">Nome da mãe</label>
            <div class="col-md-10">
                <input class="form-control" id="txtNomeMae" name="txtNomeMae" type="text" ng-model="candidatosCtrl.candidato.Mae" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtRg">RG</label>
            <div class="col-md-10">
                <input class="form-control" id="txtRg" name="txtRg" type="text" ng-model="candidatosCtrl.candidato.RG" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtRgDataExpedicao">Data de expedição</label>
            <div class="col-md-10">
                <input class="form-control" id="txtRgDataExpedicao" name="txtRgDataExpedicao" type="text" ng-model="candidatosCtrl.candidato.RGExpedicao" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtOrgaoEmissor">Órgão Emissor</label>
            <div class="col-md-10">
                <input class="form-control" id="txtOrgaoEmissor" name="txtOrgaoEmissor" type="text" ng-model="candidatosCtrl.candidato.RGOrgaoEmissor" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCpf">CPF</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCpf" name="txtCpf" type="text" ng-model="candidatosCtrl.candidato.CPF" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCnh">CNH</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCnh" name="txtCnh" type="text" ng-model="candidatosCtrl.candidato.CNH" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCnhCategoria">Categoria</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCnhCategoria" name="txtCnhCategoria" type="text" ng-model="candidatosCtrl.candidato.CNHCategoria" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtReservista">Reservista</label>
            <div class="col-md-10">
                <input class="form-control" id="txtReservista" name="txtReservista" type="text" ng-model="candidatosCtrl.candidato.Reservista" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtPis">PIS</label>
            <div class="col-md-10">
                <input class="form-control" id="txtPis" name="txtPis" type="text" ng-model="candidatosCtrl.candidato.PIS" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCtps">Carteira de trabalho</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCtps" name="txtCtps" type="text" ng-model="candidatosCtrl.candidato.CTPS" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCtpsSerie">Série</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCtpsSerie" name="txtCtpsSerie" type="text" ng-model="candidatosCtrl.candidato.CTPSSerie" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtCtpsDataEmissao">Data de emissão</label>
            <div class="col-md-10">
                <input class="form-control" id="txtCtpsDataEmissao" name="txtCtpsDataEmissao" type="text" ng-model="candidatosCtrl.candidato.CTPSDataEmissao" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtTituloEleitor">Titulo de eleitor</label>
            <div class="col-md-10">
                <input class="form-control" id="txtTituloEleitor" name="txtTituloEleitor" type="text" ng-model="candidatosCtrl.candidato.TituloEleitor" />
            </div>
            <label class="col-md-2 control-label" for="txtTituloEleitorZona">Zona</label>
            <div class="col-md-10">
                <input class="form-control" id="txtTituloEleitorZona" name="txtTituloEleitorZona" type="text" ng-model="candidatosCtrl.candidato.TituloEleitorZona" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="txtTituloEleitorSecao">Seção</label>
            <div class="col-md-10">
                <input class="form-control" id="txtTituloEleitorSecao" name="txtTituloEleitorSecao" type="text" ng-model="candidatosCtrl.candidato.TituloEleitorSecao" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register">
            </div>
        </div>
    </form>
</div>